@model FeedViewModel
@{
    ViewData["Title"] = "REDE SOCIAL MTO SHOW";
    var feed = ViewBag.Feed as List<dynamic> ?? new List<dynamic>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>profile timeline - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="col-lg-8">
            <form method="get" asp-controller="Usuario" asp-action="Buscar" class="barraPesq d-flex">
                <input class="form-control pesquisaUsuarios" name="termo" placeholder="Digite o nome de usuário que deseja buscar" type="text" />
                <button type="submit" class="pesquisaUsuariosBtn btn btn-info">
                    <img class="imgPesqButton" src="~/Imagens/lupa-branca.svg" alt="Buscar" />
                </button>
            </form>
            <div class="panel profile-cover">
                <div class="profile-cover__img">
                    <img src="@Url.Content(Model.UsuarioAtivo.FotoPerfil)" alt="" />
                    <h3 class="h3">@Model.UsuarioAtivo.Nome</h3>
                </div>
                <div class="profile-cover__action bg--img" data-overlay="0.3">
                </div>
                <div class="profile-cover__info">
                    <ul class="nav">
                        <li><strong>@Model.UsuarioAtivo.Publicacoes</strong> Publicações</li>
                        <li><strong>@Model.UsuarioAtivo.Seguidores</strong> Seguidores</li>
                        <li><strong>@Model.UsuarioAtivo.Seguindo</strong> Seguindo</li>
                    </ul>
                </div>
            </div>
            <div class="panel">
                @if (Model.Destaques != null && Model.Destaques.Any())
                {
                    <div class="panel mb-4">

                        <div class="destaques-container position-relative">
                            <div></div>

                            <div class="destaques-carousel d-flex overflow-auto">
                                @foreach (var item in Model.Destaques)
                                {
                                    <div class="destaque-item mx-1">
                                        <img class="imgstory" src="@Url.Content(item.ImagemUrl)" alt="@item.Titulo" />

                                    </div>
                                }
                            </div>
                        </div>

                    </div>

                }


            </div>

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Activity Feed</h3>
                </div>
                <div class="panel-content panel-activity">
                    <form action="#" class="panel-activity__status">
                        <textarea name="user_activity" placeholder="Share what you've been up to..." class="form-control"></textarea>
                        <div class="actions">
                            <div class="btn-group">
                                <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Image">
                                    <i class="fa fa-image"></i>
                                </button>
                            </div>
                            <button type="submit" class="btn btn-sm btn-rounded btn-info">
                                Postar
                            </button>
                        </div>
                    </form>
                    @{

                    }

                    <ul class="panel-activity__list">
                        @foreach (var post in Model.Postagens)
                        {
                            var usuario = Model.Usuarios.FirstOrDefault(u => u.ID == post.IdUsuarioPost);
                            <!-- Encontre o usuário com base no ID do post -->
                            if (usuario != null)
                            {
                                <li>
                                    <i class="activity__list__icon fa fa-question-circle-o"></i>
                                    <div class="activity__list__header">
                                        <img src="@Url.Content(@usuario.FotoPerfil)" alt="Foto Perfil" />
                                        <a href="/Usuario/Perfil/@usuario.ID">@usuario.Nome</a> publicou: <a href="#">usuario.TextoPost</a>
                                    </div>
                                    <div class="activity__list__body entry-content">
                                        <p>
                                            @post.TextoPost
                                        </p>
                                    </div>
                                    <div class="activity__list__footer">
                                        <a href="#"> <i class="fa fa-thumbs-up"></i>@post.QuantidadeCurtidas</a>
                                        <a href="#"> <i class="fa fa-comments"></i>0</a>
                                        <span> <i class="fa fa-clock"></i>agora mesmo</span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>